nav {
  display:flex;
  background-color: transparent;
  height: 5rem;
  justify-content: space-between;
  h1 {
    margin-left: 2rem;
    color:beige;
  }
  a {
    margin:1.3rem;
    margin-left: 3rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }
  button {
    border-radius: 10%;
    width: 7rem;
    height: 3.5rem;
    margin-top: 0.7rem;
    background-color:transparent;
    color:white;
    font-family: fantasy;
    border: 2px solid white;
  }
  div {
    display:flex;
  }
}